@import "./scss/variable";
@import "./scss/global";
@import "./scss/mixins";

 @import "./scss/footer";

  @import "./scss/play";

  //@import "./scss/modal";
  @import "./scss/header";
  @import "./scss/game";

